.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #263640;
    color: white;
    text-align: center;
    text-color:rgba(255, 255, 255,.5);
    max-height: 94px;
    padding-bottom: 10px;
    
    
}



@media (max-width: 768px) {
	.footer{
		display:none;
	}
}